.col-xs-0 {
  float: left;
  width: 0; }

#main {
  margin-top: 50px;
  opacity: 0; }

#contents {
  transition: width .5s linear;
  padding: 0; }
  #contents #contents-pane {
    border-right: 1px solid #ccc; }
    #contents #contents-pane label:not(.nav-header) {
      font-weight: 400; }
    #contents #contents-pane a {
      color: #719db7;
      display: block; }
      #contents #contents-pane a span.desc {
        padding-left: 5px; }
    #contents #contents-pane label a.active span {
      color: black; }

.video-holder {
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  /* ********* */
  display: none; }

.iframe-holder {
  /*
  height: auto;
  overflow: hidden;
  */ }
  .iframe-holder iframe {
    width: 100%; }

#video {
  padding: 0;
  transition: width .5s linear;
  background-color: white;
  overflow: scroll; }
  #video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    #video .overlay .overlay-block {
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid #779;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      margin: 10px;
      padding: 5px;
      cursor: pointer;
      z-index: 1000; }
      #video .overlay .overlay-block:hover {
        background-color: black;
        border-color: white; }
  #video video {
    width: 100%;
    background-color: white; }

.code-listing {
  position: relative; }

.btn-clipboard, .btn-download {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px; }
  .btn-clipboard:hover, .btn-download:hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c; }

#sidebar {
  padding: 0;
  display: none; }
  #sidebar pre {
    word-wrap: normal;
    margin-top: 1em;
    position: relative; }
  #sidebar #asset-buttons {
    padding: 10px 0; }
    #sidebar #asset-buttons .btn.active.focus, #sidebar #asset-buttons .btn.focus {
      outline: none; }
  #sidebar .nav-header {
    text-transform: none;
    font-weight: normal;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    min-height: 40px; }
    #sidebar .nav-header span:not(.tree-toggler) {
      line-height: 1;
      display: inline-block; }
    #sidebar .nav-header .tree-toggler {
      color: black; }
    #sidebar .nav-header .timestamp {
      position: absolute;
      top: 27px;
      left: -30px; }
  #sidebar .nav-tabs > li.active > a {
    background-color: #eee; }
  #sidebar .tab-pane.active {
    background-color: #eee; }
  #sidebar .border {
    border-top: none;
    border-left: 2px solid #337ab7;
    border-right: 2px solid #337ab7;
    border-bottom: 2px solid #337ab7;
    border-radius: 10px 10px 0 0;
    padding-bottom: 20px; }
  #sidebar .scroller {
    height: 100%;
    padding: 5px;
    border-left: 1px solid #ccc; }
  #sidebar .resource-list a {
    color: #719db7; }
  #sidebar .resource-list li:hover, #sidebar .resource-list li:hover:focus {
    text-decoration: none;
    background-color: #ccc; }
  #sidebar .resource-list li.current {
    background-color: #e7dbda;
    border-radius: 5px; }

.scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%; }

.nav-list {
  padding-left: 35px;
  position: relative; }
  .nav-list li.active {
    background-color: #f0f0f7; }
  .nav-list .divider {
    box-sizing: content-box;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff; }
  .nav-list > li > label > a:active, .nav-list > li > label > a.active {
    background-color: #C1C0E7;
    color: #191832; }
  .nav-list > li > a {
    padding: 3px 0;
    margin-left: 0;
    /* NOTE: Added this because elements using animate.css were disappearing */
    animation-fill-mode: none;
    -webkit-animation-fill-mode: none; }
    .nav-list > li > a:hover, .nav-list > li > a:hover:focus {
      text-decoration: none;
      background-color: #ccc; }
    .nav-list > li > a:focus {
      background: none; }
    .nav-list > li > a:active, .nav-list > li > a.active {
      background-color: #C1C0E7;
      color: #191832; }

.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px; }

.nav-header {
  display: block;
  padding: 3px 8px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase; }

.trackalert {
  transition: transform .5s ease-in-out, opacity .5s ease-in-out; }
  .trackalert span {
    font-size: 12px;
    line-height: 1em; }
  .trackalert.x-hidden {
    transform: translateX(25px);
    opacity: .5; }
  .trackalert.current {
    border-color: black; }

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
  display: none; }

[data-notify="container"] {
  max-width: 350px; }

.level {
  display: inline-block;
  background-color: #719db7;
  color: white;
  font-size: 12px;
  padding: 2px 2px 0 2px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 3px;
  vertical-align: bottom;
  min-width: 2em;
  text-align: center;
  position: absolute;
  left: -30px; }

#toc-toggler {
  margin: 8px 0 0 8px; }
  #toc-toggler:focus {
    outline: none; }
  #toc-toggler.open {
    background: white !important;
    color: #337ab7 !important; }

#resource-toggler {
  margin: 8px 8px 0 0; }
  #resource-toggler:focus {
    outline: none; }
  #resource-toggler.open {
    background: white !important;
    color: #337ab7 !important; }

.checked {
  color: orange;
  position: absolute;
  left: -50px;
  top: 6px;
  font-size: 16px; }

span.completed {
  font-weight: 200;
  color: #bda3ad; }

.video-js {
  width: 100% !important;
  height: 100% !important; }

/*
.video-js:after {
    content: '.';
    display: block;
    position: relative;
    padding: 55% 0 0 0;
    margin: 0 0 0 -100%;
    visibility: hidden;
}
*/
.vjs-poster {
  background-color: white; }

.sandbox {
  cursor: pointer; }

.tiny-thumbnail {
  width: 100%; }

.quiz {
  color: #569E39 !important; }

.quiz-background {
  background-color: #569E39; }

#main_iframe {
  /*
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  */
  width: 100%;
  height: auto;
  display: none; }

.course-progress {
  text-align: center;
  margin: 0;
  padding: 12px;
  background-color: #e0e0e0; }
  .course-progress .progress {
    position: relative;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 20px;
    color: #818186; }
    .course-progress .progress:after {
      content: attr(data-progress);
      display: block;
      position: absolute;
      left: 0;
      right: 0; }

#collapse-button {
  margin-right: 10px; }

.vjs-back-button:hover:not(:active) {
  color: white; }
.vjs-back-button:before {
  font-family: FontAwesome !important;
  content: "\f0e2"; }

#main_video .vjs-tip {
  font-size: 14px;
  line-height: 1.3; }
  #main_video .vjs-tip .vjs-tip-inner {
    padding: 1em; }

.blocky {
  color: #959595;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1em; }

.button-a {
  width: 100%;
  display: block;
  color: #007db6;
  text-align: left;
  background: #e5f2f7;
  text-decoration: none;
  text-transform: none;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 3px solid #007db6;
  background-position: right 13.3333px top 50%;
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  background-image: url(../images/icon-arrow-black.svg); }

/*# sourceMappingURL=main.css.map */
